<!-- Start Detail Card -->
<div class="col-xs-6 col-md-4">
    <div class="card border-info mb-3 float-right" style="max-width: 40rem;">
        <div class="card-header">Details</div>
        <div class="card-body no-padding">
            <table class="table table-hover table-borderless no-margin">
                <tr>
                    {%- if page.layout == "attack_tactics" -%}
                    <td>
                        <p class="card-text"><b>ATT&CK&#174 ID:</b></p>
                    </td>
                    <td>
                        <p class="card-text"><a href="https://attack.mitre.org/tactics/{{ page._id }}">{{ page._id }}</a></p>
                    </td>
                    {%- else -%}
                    <td>
                        <p class="card-text"><b>ID:</b></p>
                    </td>
                    <td>
                        <p class="card-text">{{ page._id }}</p>
                    </td>
                    {%- endif -%}
                </tr>
                {%- if page.layout == "techniques"" -%}
                <tr>
                    <td>
                        <p class="card-text"><b>Tactics</b></p>
                    </td>
                    <td>
                    {%- for tactic in site.data.technique_details[page._id].tactics -%}
                        <a href="{{ site.baseurl }}/tactics/{{ tactic.id }}">{{ tactic.name }}</a>
                        {%- if forloop.last == false -%}
                         ,&nbsp;
                        {%- endif -%}
                    {%- endfor -%}
                    </td>
                {%- endif -%}
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- End Detail Card -->